:root, body[theme=light] {
    --brand-color: #0066CC;

    --bg-primary-color: #FBFBFB;
    --bg-secondary-color: #F3F3F4;

    --border-primary-color: #D9D9DC;
    
    --text-primary-color: #151515;
    --text-secondary-color: #4D4D4D;

    --scrollbar-primary-color: #D9D9DC var(--bg-primary-color);
    --scrollbar-secondary-color: #D9D9DC var(--bg-secondary-color);


    /* Buttons */

    /* Button-1 */
    --button1-bg-color-default: #E4E4E7;
    --button1-bg-color-hover: #D9D9DC;
    --button1-bg-color-active: #EAEAEC;
    --button1-bg-color-disabled: #C7C7C7;

    --button1-border-color-default: #D4D4D9;
    --button1-border-color-hover: #CCCCD0;
    --button1-border-color-active: #D9D9DD;
    --button1-border-color-disabled: #C7C7C7;

    --button1-text-color-default: var(--text-primary-color);
    --button1-text-color-hover: var(--text-primary-color);
    --button1-text-color-active: var(--text-primary-color);
    --button1-text-color-disabled: #A3A3A3;
    
    /* Button-2 */
    --button2-bg-color-default: var(--bg-secondary-color);
    --button2-bg-color-hover: #EAEAEC;
    --button2-bg-color-active: #D9D9DC;
    --button2-bg-color-disabled: #C7C7C7;

    --button2-text-color-default: var(--text-primary-color);
    --button2-text-color-hover: var(--text-primary-color);
    --button2-text-color-active: var(--text-primary-color);
    --button2-text-color-disabled: #A3A3A3;
    
    /* Slider */
    --slider-rail-color-default: #E1E1E1;
    --slider-track-color-default: #151515;
    --slider-handle-color-default: transparent;

    --slider-rail-color-hover: #E1E1E1;
    --slider-track-color-hover: #0066CC;
    --slider-handle-color-hover: #151515;
    
    --slider-rail-color-active: #E1E1E1;
    --slider-track-color-active: #0066CC;
    --slider-handle-color-active: #151515;
    
    --slider-rail-color-disabled: #C7C7C7;
    --slider-track-color-disabled: #A3A3A3;
    --slider-handle-color-disabled: transparent;
}
