.recent-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
