.album-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    gap: 2rem;
}

.album-meta-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.track-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
